<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <script defer src="/static/js/script.js"></script>
   
     <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
     <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.11.0/dist/toastify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/static/styles/styles.css">
   
    <title>{{titulo}}</title>
</head>
<body>

   <main>
    {{{body}}}
   </main>
   
  <footer>
    <h3>FooterPrueba</h3>
  </footer>
  
</body>
</html>